# ===== Maven =====
target/

# ===== Logs / Reports / Outputs =====
logs/
reports/
test-output/
ScreenShot/

# ===== IDE files =====
.classpath
.project
.settings/

# ===== External Libraries =====
Library/

# ===== OS / Misc =====
*.log
*.jar
