name: Cucumber Automation CI

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '30 4 * * *'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run Smoke + Regression Tests
        working-directory: com.Bat
        run: mvn clean test -Dcucumber.filter.tags="@smoke or @Reg"

      # Upload Cucumber reports as artifacts (paths point to com.Bat/target because tests run in that subfolder)
      - name: Upload Cucumber Reports as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-reports
          path: com.Bat/target/cucumber-report-html/

      # Upload Cucumber JSON reports as artifacts
      - name: Upload Cucumber JSON Reports as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-json-reports
          path: com.Bat/target/cucumber-json/
